@charset "utf-8";

body{
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
}

#wrapper{
    display: grid;
    grid-template-columns: 20vw auto;
}

.navBar{
    position: fixed;
    width: 20vw;
    height: 100%;
    border-right: 1px solid #d8d8d8;
}

.navBar img{
    height: 100px;
    margin-top: 50px;
    margin-left: 80px;
}

.navBar nav{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.navBar ul{
    padding: 0;
    text-align: left;
}

.navBar ul a{
    margin-bottom: 30px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5e5e5e;
    display: block;
    text-decoration: none;
}

.navBar ul a:hover{
    color: #15BAB6;
}

main{
    grid-column-start: 2;
}

#gallWrap{
    margin: 60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
}

.test{
    height: 260px;
    width: 260px;
    background-color: red;
    border: 1px solid grey;
}